.altura-painel {
    height: auto;
}

@media (max-width: 1024px) {

    .altura-painel {
        height: auto !important;
    }

}

.borda {
    border: 2px solid black;
}

#myChart3 {
    //height: auto !important;
    width: 300px;
}